:host {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.list__element {
  align-items: center;
  border: 1px solid black;
  background: gray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  pointer-events: none;

  &:nth-child(3n) {
    cursor: pointer;
    pointer-events: all;

    &:hover {
      border: 1px solid darkgray;
    }
  }

  &--selected {
    background: lightblue;
    color: black;
  }
}

.element {
  &__label {
    margin-bottom: 10px;
  }

  &__btn {
    cursor: pointer;
    width: 50%;
    height: 50px;
    pointer-events: all;
  }
}